acinclude.m4
aclocal.m4
autom4te.cache
build
cmake-build-debug
config.guess
config.h.in*
config.nice
config.sub
configure
configure.in
.deps
*Dockerfile
.idea
install-sh
ltmain.sh
Makefile.global
missing
mkinstalldirs
modules
*.a
*.o
run-tests.php
tests/*.mem*
